/*
 *= require font-awesome
 */
@import 'jeet';
@import 'fonts';
@import 'variables';
@import 'pages';
@import 'header';
@import 'footer';

div.container {
  @include center(960px);
}

html,
body,
body > #content{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;

}


a {
  color: $darker_green;
  text-decoration: none;
}

