@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
  font-family: 'YeahPapa';
  src: font-url('YeahPapa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

