// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  @include outer-container;
  text-align: center;
}
.restaurant {
  @include span-columns(3);
  @include omega(4n);
  margin-bottom: 40px;
  .image {
    width:100%;
  }
  .rating {
    text-align: center;
  }
}

.yelp-info {
  @include span-columns(12);
}

