<div class="container">
  <h1>Dina aktiviteter</h1>
  <div class="activities">
    <div class="activity">
      <h2> activity </h2>
      <%= image_tag("http://placekitten.com/100/100") %>
      <p>aktivitetstext</p>
    </div>
    <div class="activity">
      <h2> activity </h2>
      <%= image_tag("http://placekitten.com/100/100") %>
      <p>aktivitetstext</p>
    </div>
  </div>
</div>

